<div class="footer ">
    <div class="container-test mt-2">
        <div class="row pt-4">
            <div class="col-3 text-light">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <p class="h6">THÔNG TIN CÔNG TY</p>
                    </li>
                    <li class="nav-item">
                        <p>CÔNG TY TNHH ISC QUANG TRUNG</p>
                    </li>
                    <li class="nav-item">
                        <p>Tòa nhà SaigonTech, Lô 14, Đường số 5, Công viên Phần mềm Quang Trung, Q. 12, Tp.
                            HCM, Việt Nam</p>
                    </li>
                    <li class="nav-item">
                        <p>Phone: 0967199447</p>
                    </li>
                    <li class="nav-item">
                        <p>Gmail : Dangduyhiepddh@gmail.com</p>
                    </li>
                </ul>

            </div>
            <div class="col-3">
                <ul class="nav flex-column lienlac">
                    <li class="nav-item">
                        <p class="h6"> LIÊN HỆ - HỢP TÁC </p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ft-lienhe" href="#"></i>Tuyển dụng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ft-lienhe" href="#"></i>Đối tác tin
                            cậy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ft-lienhe" href="#">Liên lạc</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ft-lienhe" href="#">Dành cho doanh
                            nghiệp</a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <ul class="nav flex-column gioithieu">
                    <li class="nav-item">
                        <p class="h6">GIỚI THIỆU</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ft-gioithieu" href="#">Về chúng tôi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ft-gioithieu" href="#">Tổng quan về công
                            ty</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ft-gioithieu" href="#">Các chương trình
                            khuyến mãi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ft-gioithieu" href="#">Cẩm nang mua
                            sắm</a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <p class="h6">MẠNG XÃ HỘI</p>
                    </li>
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item mxh">
                                    <a href="###"><i class="fab fa-facebook icon-fb"></i></a>
                                </li>

                                <li class="nav-item mxh">
                                    <a href="####"><i class="fas fa-mail-bulk icon-mail"></i></a>
                                </li>

                                <li class="nav-item mxh">
                                    <a href="####"><i class="fab fa-instagram-square icon-insta"></i></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </ul>
            </div>
        </div>
    </div>
</div>