<div class="header">
    <div class="contact">
        <div class="container-test">
            <div class="row ">
                <div class="col-6">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav contact-test">
                                <a class="nav-item contact-test1" href="#"><i
                                        class="fas fa-phone-alt ic-contact"></i>Hotline : 0967199447</a>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-6 contact-right">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav contact-test">
                                <a class="nav-item contact-test1" href="#"><i
                                        class="fas fa-suitcase ic-contact"></i>Kiểm tra đơn hàng </a>
                                <a class="nav-item contact-test1" href="#"><i
                                        class="fas fa-cart-arrow-down ic-contact"></i>Giỏ hàng</a>
                                <a class="nav-item contact-test1" href="/login"><i
                                        class="fas fa-sign-in-alt ic-contact"></i>Đăng nhập</a>
                                <a class="nav-item contact-test1" href="/login/register"><i
                                        class="fas fa-key ic-contact"></i>Đăng kí</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="Find">
        <div class="container-test">
            <div class="row Find-container">
                <div class="col-3 logo">
                    <a href="/home" class="logo-home"><img src="/images/Logo/niceboy-logo_10903.png" alt=""></a>
                </div>
                <div class="col-6 search">
                    <input class="form-control mr-sm-2 search-test" type="search"
                        placeholder="Tìm kiếm sản phẩm ..." aria-label="Search">
                    <button class="click-find"><i class="fas fa-search"></i></button>
                </div>
                <div class="col-3" style="text-align: right;">
                    <a href=""><i class="fas fa-cart-arrow-down ic-giohang"
                            style="font-size: 40px; color: #75bc2f;"></i><span class="giohang">0 SP</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="container-test">
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-8 menu-right">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav menu-test">
                                <a class="nav-item menu-test1" href="/home">TRANG CHỦ</a>
                                <a class="nav-item menu-test1" href="#">GIỚI THIỆU</a>
                                <a class="nav-item menu-test1" href="#">SẢN PHẨM</a>
                                <a class="nav-item menu-test1" href="#">TIN TỨC</a>
                                <a class="nav-item menu-test1" href="#">LIÊN HỆ</a>
                                <a class="nav-item menu-test1" href="#">KHUYẾN MÃi</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>