
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
    <%- include('components/library'); -%>
    <link href="/css/pages/ProductDetail.css" rel="stylesheet">
</head>
<body>
    <%- include('components/header'); -%>
   <div class="container text-secondary">
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-md-6">
        <figure class="figure">
        <img src="/images/products/hdd01.jpg" class="img-fluid img-thumbnail" alt="current product image">
        <figcaption class="figure-caption">Ổ cứng HDD 1TB</figcaption>
        </figure>
      </div>
      <div class="col-sm-4 col-xs-12 col-md-6">
        <div class="row">
          <div class="h2">HDD WD Blue 1TB</div>
        </div>
        <div class="row">
          <h2><i class="fas fa-money-check-alt"></i><i class="fa fa-inr" aria-hidden="true"></i> 499.000 VND</h2>
          &nbsp; &nbsp;
          <h3><del>600.000 VND</del></h3>
          &nbsp; &nbsp;
          <h2 class="text-success">20% off</h2>
        </div>
        <div class="row">
          <h3 class="text-warning"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
              class="fas fa-star-half-alt"></i><i class="far fa-star"></i></h3>
          &nbsp; &nbsp;
        </div>
        <div class="row">
          <p><i class="fas fa-check-square text-success"></i> <strong>Tính năng 1</strong> Mô tả </p>
        </div>
        <div class="row">
          <p><i class="fas fa-check-square text-success"></i> <strong>Tính năng 2</strong> Mô tả </p>
        </div>
        <div class="row">
          <p><i class="fas fa-check-square text-success"></i> <strong>Tính năng 3</strong> Mô tả </p>
        </div>
        <div class="row">
          <p><i class="fas fa-check-square text-success"></i> <strong>Tính năng 4</strong> Mô tả </p>
        </div>
        <div class="row">
          <h5>Nhà cung cấp: &nbsp; &nbsp;</h5>
          <p style="font-size: 1em">Western Digital</p>
        </div>
        <div class="row">
          <a class="btn btn-success text-light">Mua ngay</a> &nbsp; <a class="btn btn-danger text-light"><i
            class="fa fa-cart-plus" aria-hidden="true"></i>Thêm vào giỏ</a> <br /><br />
        </div>
      </div>
    </div>
    <div class="h3">Mô tả chi tiết</div>
    <div class="detail">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto consectetur id in ipsum quidem! Debitis
      adipisci, natus sapiente laboriosam provident voluptatem totam quibusdam ea voluptatibus reprehenderit inventore,
      necessitatibus laudantium soluta.
    </div>
  </div>
  

  <div class="container">
    <div class="row mt-5">
      <h2>Sản phẩm tương tự</h2>
    </div>
    <div class="row mt-5">
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/products/hdd02.jpg" alt="recommend 1">
          <div class="card-title">
            <h4>Lorem, ipsum dolor</h4>
          </div>
          <div class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae fugiat et voluptate sunt officia vero
            molestias.<br /><br />
            <a class="btn btn-success text-light">Mua ngay</a> &nbsp; <a class="btn btn-danger text-light"><i
                class="fa fa-cart-plus" aria-hidden="true"></i>Thêm vào giỏ</a> <br /><br />
          </div>
        </div>
      </div>


      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/products/hdd03.jpg" alt="recommend 2">
          <div class="card-title">
            <h4>Lorem, ipsum dolor</h4>
          </div>
          <div class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae fugiat et voluptate sunt officia vero
            molestias.<br /><br />
            <a class="btn btn-success text-light">Mua ngay</a> &nbsp; <a class="btn btn-danger text-light"><i
                class="fa fa-cart-plus" aria-hidden="true"></i>Thêm vào giỏ</a> <br /><br />
          </div>
        </div>
      </div>


      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/products/hdd04.jpg" alt="recommend 3">
          <div class="card-title">
            <h4>Lorem, ipsum dolor</h4>
          </div>
          <div class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae fugiat et voluptate sunt officia vero
            molestias.<br /><br />
            <a class="btn btn-success text-light">Mua ngay</a> &nbsp; <a class="btn btn-danger text-light"><i
                class="fa fa-cart-plus" aria-hidden="true"></i>Thêm vào giỏ</a> <br /><br />
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/products/ssd01.jpg" alt="recommend 4">
          <div class="card-title">
            <h4>Lorem, ipsum dolor</h4>
          </div>
          <div class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae fugiat et voluptate sunt officia vero
            molestias.<br /><br />
            <a class="btn btn-success text-light">Mua ngay</a> &nbsp; <a class="btn btn-danger text-light"><i
                class="fa fa-cart-plus" aria-hidden="true"></i>Thêm vào giỏ</a> <br /><br />
          </div>
        </div>
      </div>
    </div>


  </div>


  <div class="container mt-5 mb-5">
    <div class="row">
      <h2>Đánh giá của khách hàng</h2>
    </div>

    <div class="row mt-5 mb-5">
      <div class="media">
        <img class="mr-3" src="/images/people/person1.jpg" alt="customer1">
        <div class="media-body">
          <h5 class="mt-0">Good <span class="text-warning"><i class="fa fa-star" aria-hidden="true"></i> <i
                class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i
                class="fa fa-star-half-o" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i>
            </span></h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
          vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
          lacinia congue felis in faucibus.
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="media"> <img class="mr-3" src="/images/people/person2.jpg" alt="customer2">
        <div class="media-body">
          <h5 class="mt-0">Perfect<span class="text-warning"><i class="fa fa-star" aria-hidden="true"></i> <i
                class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i
                class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </span></h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
          vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
          lacinia congue felis in faucibus.
        </div>
      </div>
    </div>


    <div class="row mb-5">
      <div class="media"> <img class="mr-3" src="/images/people/person3.jpg" alt="customer3">
        <div class="media-body">
          <h5 class="mt-0">Bad<span class="text-warning"><i class="fa fa-star" aria-hidden="true"></i> <i
                class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> <i
                class="fa fa-star-o" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </span>
          </h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
          vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
          lacinia congue felis in faucibus.
        </div>
      </div>
    </div>


    <div class="row mb-5">
      <div class="media"> <img class="mr-3" src="/images/people/person4.jpg" alt="customer4">
        <div class="media-body">
          <h5 class="mt-0">Nice<span class="text-warning"><i class="fa fa-star" aria-hidden="true"></i> <i
                class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i
                class="fa fa-star-half-o" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i>
            </span></h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
          vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
          lacinia congue felis in faucibus.
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <h2>Chia sẻ đánh giá của bạn</h2>
    </div>


    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Địa chỉ email của bạn</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="abc@email.com">
        <small id="emailHelp" class="form-text text-muted">Địa chỉ email của bạn sẽ được bảo mật.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Đánh giá của bạn</label>
        <textarea type="text" class="form-control" id="exampleInputtextarea" placeholder="đánh giá" rows="3"></textarea>
      </div>
      <div class="form-row align-items-center mb-5">
        <div class="col-2">
          <div class="row align-items-center no-gutters">
            <div class="col-3">
              <input class="form-control w-50" type="checkbox" name=""> 
            </div>
            <div class="col-7">
              <label for="confirm" class="m-0">Xác Nhận</label>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Đăng</button>
    </form>
  </div>

    <%- include('components/footer'); -%>
</body>
</html>
