<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <%- include('components/library'); -%>
</head>
<body>
    <%- include('components/header'); -%>
    <h1>Đây là trang home</h1>
    <%- include('components/footer'); -%>
</body>
</html>