.wrapper{
    width: 100%;
    height: auto;
}
.container-test{
    width: 80%;
    margin: auto;
}
.contact{
    background-color: #333333;
}

.contact-test .contact-test1{
    color: 	#FFFFFF;
    text-decoration: none;
    padding: 0px 25px 0px 25px;
    font-size: 12px;
}

.contact-test .contact-test1:hover{
    color: #75bc2f;
}

.contact-test .contact-test1 .ic-contact{
    padding-right: 5px;
}


.Find{
    background-color:#ffffff;  
}

.Find .search-test{
    border: 1px solid bisque;
    padding: 25px;
    width: 80%;
    margin: auto;  
}

.search{
    height: auto;
    text-align: center;
}

.search .click-find{
    position: absolute;
    top: 2px;
    right: 25px;
    background-color: #ff5400;
    border: 0px;
    font-size: 31px;
    border-radius: 2px;
    width: 13%;
}

.giohang{
    color:#75bc2f;
}
.ic-giohang{
   text-align: right;
}

.logo{
    position: relative;
}

.Find-container{
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-home{
    position: absolute;
    top: -60px;
    right: 50px;
}
.menu{
    background-color: #ff5400;
}
.menu-test{
    font-size: 15px;
}

.menu-test .menu-test1{
    color: 	#FFFFFF;
    text-decoration: none;
    padding: 7px 25px 7px 25px;
}

.menu-test .menu-test1:hover{
    color: #75bc2f;
}

.hr-slide{
    border-bottom: 2px solid green;
}

.menu-left{
    border-radius: 5px;
}

.dropdown{
    position: relative;
    display: inline-block;
 }
 /*sub-menu*/
.dropdown-content{
    left: 100%;
    top: 0;
    margin-left: -1px;
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    z-index: 1;
    list-style: none;
 }
 .dropdown:hover .dropdown-content{
    display: block;
 }

/*------------------------------------------------------*/


.menu-left{
    border-radius: 5px;
}

.menu-left .danhmuc{
    background-color: coral;
    color: #f2f2f2;
    font-size: 19px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu-left .ic-danhmuc{
    padding-right: 2px;
}



.ic-list{
    border: 1px solid;
    border-radius: 50%;
    width: 18px;
    text-align: center;
    background-color: white;
    color: black;
    
}

.ic-list:hover{
    background-color: aqua;
}

.menu-left ul li{
    border: 1px solid cornsilk;
}

.menu-left .menu-t{
    color: black;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}
.menu-left .menu-t:hover{
    background-color: #75bc2f;
    overflow: hidden;
    color: #f2f2f2;
}

.menu-t .ic-menu-t{
    color:white;
    font-size: 25px;
    position: absolute;
    top: 5px;
    right: 10px;
}

.product .tieude{
    border-bottom: 2px solid #429a9d;
}
.product .tieude .h5{
    color: #75bc2f;
}

.product-show .discout{
    padding: 5px 10px 5px 10px;
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    background-color: coral;
    border-radius: 5px;
    margin-top: 10px;
}
.product-show{
    margin: 20px 0px;
}
.footer{
    background-color: dimgray;
}

.footer .h6{
    color: #f8ffff;
}

.ft-lienhe{
    color: darkgray;
}

.ic-footer{
    padding-right: 20px;
}

.ft-gioithieu{
    color: darkgray;
}

.icon-fb{
    background-color: coral;
    font-size: 40px;
    border: 1px solid bisque;
    border-radius: 5px;
    color: chartreuse;
}

.icon-mail{
    background-color: coral;
    font-size: 40px;
    border: 1px solid bisque;
    border-radius: 5px;
    color: chartreuse;
}

.icon-insta{
    background-color: coral;
    font-size: 40px;
    border: 1px solid bisque;
    border-radius: 5px;
    color: chartreuse;
}

.mxh{
    padding: 20px;
}

.mxh:hover{
    padding: 30px;
}

.img-pro {
    transition: 0.1s linear;
}
.img-pro:hover{
    transform: scale(1.1);
}

.text-danhmuc{
    padding: 12px 30px 12px 30px;
}